.app-header {
  position: fixed; /* Luôn ở đầu trang */
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;

  padding: 0 24px;
  z-index: 9999; /* z cao nhất */
}

.header-left {
  display: flex;
  gap: 12px;
}
.text-logo {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.header-logo {
  height: 40px;
}

.header-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.header-subtitle {
  font-size: 13px;
  color: #6b7280;
  margin: 0;
}
