#root {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.app-content {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 90px; /* >= chi·ªÅu cao header */
  padding-left: 24px;
  padding-right: 24px;
}
