.card {
  background-color: #ffffff; /* nền trắng */
  border-radius: 12px; /* bo góc */
  padding: 30px; /* khoảng cách bên trong */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* đổ bóng nhẹ */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* hover cho đẹp hơn */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}
.title-card-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-card {
  display: flex;
  justify-content: start;
  align-items: center;
}
.title-card-btn-sort {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background: #6445ff;
  background: linear-gradient(
    165deg,
    rgba(100, 69, 255, 1) 0%,
    rgba(223, 117, 255, 1) 100%
  );
}

.title-card-btn-sort:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}
.title-card-btn-sort:active {
  transform: scale(0.95);
}
.title-card-btn-sort:focus,
.title-card-btn-sort:focus-visible {
  outline: none;
}
.title-card-left {
  display: flex;
  background: #6445ff;
  background: linear-gradient(
    165deg,
    rgba(100, 69, 255, 1) 0%,
    rgba(223, 117, 255, 1) 100%
  );
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.title-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
