.card {
  background-color: #ffffff; /* nền trắng */
  border-radius: 12px; /* bo góc */
  padding: 30px; /* khoảng cách bên trong */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* đổ bóng nhẹ */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* hover cho đẹp hơn */
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.title-card {
  display: flex;
  justify-content: start;
  align-items: center;
}

.title-card-left {
  display: flex;
  background: #6445ff;
  background: linear-gradient(
    165deg,
    rgba(100, 69, 255, 1) 0%,
    rgba(223, 117, 255, 1) 100%
  );
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.title-card-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
